.image {
    position: absolute;
    top: 230px;
    /* ajuste conforme necessário */
    right: 150px;
    /* ajuste conforme necessário */
    z-index: 10;
    /* garante que fique acima dos outros */
    width: 40vw;
    /* ajuste conforme necessário */
    height: auto;
    pointer-events: none;
    /* para não bloquear cliques no menu */
}