.nav {
    padding: 2rem 6rem;
    background-color: #4E4231;
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: end;
    grid-area: nav;
}

.button {
    background: none;
    border: none;
    width: 80px;
    height: 80px;
    display: flex;

    cursor: pointer;

}

.linha {
    display: block;
    width: 40px;
    height: 3px;
    background: #CCCCCC;
    border-radius: 2px;
    margin-top: 10px;
}

.linha::before {
    content: '';
    width: 60px;
    background: #B59F93;
    display: block;
    height: 3px;
    margin-top: 20px;
    border-radius: 2px;
}

.linha::after {
    content: '';
    width: 40px;
    background: #CCCCCC;
    display: block;
    height: 3px;
    margin-top: 20px;
    border-radius: 2px;
    margin-left: 20px;
}

.hamburger {
    border-top: 1px solid;
    width: 40px;

}

.hamburger::before {
    content: ' ';
    display: block;
    width: 60px;
    height: 2px;
    color: #000;
    margin-top: 5px;

}

.hamburger::after {
    content: ' ';
    display: block;
    width: 40px;
    height: 2px;
    color: #CCCCCC;
    margin-right: 5px;
}