@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  color: #5C331D;
  --type-first: "Inter", sans-serif;
  font-family: var(--type-first);
  background: #EBE8E2;
}

.container {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-areas: " header nav"
    "content nav "
    "footer nav ";
  grid-template-columns: 3fr auto;
  grid-template-rows: auto 1fr;

}

.header {
  grid-area: header;
}


.content {
  grid-area: content;

}

h1,
h2,
h3,
h4,
p {
  margin: 0px;

}


.dot,
.barra {
  color: #9D7D6C;
}

button {
  font-family: var(--type-first);
  font-size: 1rem;
  background: none;
  border: 3px solid #5C331D;
  padding: 1em 3em;
  cursor: pointer;
  color: #5C331D;
  text-transform: uppercase;
  font-weight: 500;
}

button:hover {
  background: #6E4129;
  color: #EBE8E2;
  transition: 0.3s;
}